/*1*/
html {
    background-color: #b4b4b4;
    background-image: url('../images/background.webp');
}

/* 1 */
body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

/*1*/
/*1*/
h1, h3 {
    color: #A11414;
}

/*10*/
.wrapper {
    width: 1270px;
    background-color: white;
    margin: 0 auto;
    padding: 96px 50px 18px 50px;
}

/*10*/
.header {
    margin-bottom: 57px;
}

/*10*/
.header__heading {
    margin-bottom: 46px;
    font-size: 2rem;
}

/*10*/
.header__heading--uppercase-bold-text {
    font-weight: 700;
    text-transform: uppercase;
}

.header__image {
    padding: 12px;
    border: 1px solid black;
}

/*11*/
.header__image > img {
    width: 1144px;
}

/*20*/
.main-content__article:not(:last-child) {
    margin-bottom: 31px;
}

.main-content__article:last-child {
    margin-bottom: 35px;
}

/*21*/
.main-content__article h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

/*21*/
.main-content__article p {
    line-height: 19px;
    text-indent: 40px;
}

/*21*/
.main-content__article p:not(:last-child) {
    margin-bottom: 27px;
}

.menu {
    float: right;
    min-width: 165px;
    background-color: #d7d7d7;
    border-radius: 2px 15px;
    padding: 29px 0 29px 26px;
}

.menu > h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 24px;
}

.menu a {
    text-decoration: none;
    color: black;
}

/*31*/
.menu a:hover {
    text-decoration: underline;
    color: #A11414;
    font-weight: bold;
}

.main-content__article--text-uppercase {
    text-transform: uppercase;
}

.main-content__article--colorizerd-text {
    color: #A11414;
}

.main-content__article--text-through {
    text-decoration: line-through;
}

.footer {
    width: 1000px;
    background-image: url("../images/footer_line.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.footer__info {
    text-align: center;
}

.footer__info--text-bold {
    font-weight: bold;
}